.about {
  line-height: 1.75;
  margin: 2rem auto;

  &__title {
    font-size: 2.441rem;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    color: $headingColor;
  }

  hr {
    border: none;
    background-color: $headingColor;
    height: 2px;
    width: 80%;
    margin: 0 auto 2rem;
  }

  .content__container {
    display: flex;
    gap: 6rem;
    margin: 1rem 0;

    padding: 0 3rem;

    @include md-mobile {
      padding: 0 1rem;
    }

    @include lg-mobile {
      flex-direction: column;
      align-items: center;

      gap: 1rem;

      .content__image {
        order: -1;
      }
    }

    .content__image {
      min-width: 284px;
      min-height: 400px;
    }

    .content__info p {
      margin-bottom: 0.75em;
    }
  }

  .end-page {
    width: 100%;
    background-color: #333;
    margin: 0;
  }
}

.page-container .location-content {
  margin-top: 1rem;
  padding: 3rem;
}
