@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");

$defaulHeight: 6vh;
$navMargin: 5vw;
$primaryColor: #101056;
$secondaryColor: #1f1f9e;
$headingColor: #339ad5;
$gold: #eaa80c;
$lightgold: #ffe031;
$offWhite: #f0f0f0;
$xl-mobile: 1050px;
$lg-mobile: 900px;
$md-mobile: 715px;
$sm-mobile: 500px;
$sm-desktop: 1020px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.ai-fe {
  align-items: flex-end;
}

.ai-fs {
  align-items: flex-start;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-sb {
  justify-content: space-around;
}

.jc-fs {
  justify-content: flex-start;
}

.ai-c {
  align-items: center;
}

.jc-c {
  justify-content: center;
}

main {
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

.mt-df {
  margin-top: $defaulHeight;
}

.p3-x {
  padding-left: 3rem;
  padding-right: 3rem;
}

.p3-y {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@mixin xl-mobile {
  @media (max-width: #{$xl-mobile}) {
    @content;
  }
}
@mixin lg-mobile {
  @media (max-width: #{$lg-mobile}) {
    @content;
  }
}
@mixin md-mobile {
  @media (max-width: #{$md-mobile}) {
    @content;
  }
}
@mixin sm-mobile {
  @media (max-width: #{$sm-mobile}) {
    @content;
  }
}
@mixin sm-desktop {
  @media (max-width: #{$sm-desktop}) {
    @content;
  }
}
