.homescreen {
  min-width: 100vw;

  .landing {
    min-height: 100vh;

    .hero {
      height: 60vh;
      width: 100%;
      background-image: url("../public/images/books.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: 40%;
      margin-top: $defaulHeight;
    }

    .intro {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 1.2rem;
      min-height: 50vh;
      padding: 0 3rem;
      text-align: left;

      h1 {
        font-size: 2.44rem;
        margin-top: 0.5rem;
        font-weight: 500;
      }

      @include md-mobile {
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem 1rem;
      }

      @include sm-mobile {
        font-weight: 400;
      }

      .intro__heading {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
      }

      p {
        margin: 1rem 3rem;
        text-align: left;
      }

      .contact-us {
        margin: 1rem auto;
        width: 20rem;
        text-align: center;
        padding: 0.75rem 2rem;
        background-color: $primaryColor;
        border-radius: 8px;
        color: #fff;
        transition: 0.2s;
      }

      .contact-us:hover {
        transform: scale(0.98);
        box-shadow: 0 10px 30px rgba(31, 31, 31, 0.3);
        background-color: $secondaryColor;
      }
    }
  }

  .when-to-hire {
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #ededed;
    color: #333;
    overflow-x: hidden;

    h2 {
      font-weight: 500;
      font-size: 1.6rem;
      margin: 1rem auto 0;

      @include sm-mobile {
        text-align: center;
      }
    }

    .card-container {
      margin: 1rem auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;

      .card {
        color: #000;
        padding: 1rem;
        margin: 1rem auto;
        border-radius: 5px;
        width: 65%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: rgb(161, 162, 164);
        background: linear-gradient(
          79deg,
          rgba(161, 162, 164, 1) 0%,
          rgba(255, 255, 255, 1) 100%
        );

        @include lg-mobile {
          width: 100%;
        }

        @include sm-mobile {
          grid-template-columns: repeat(1, 1fr);
        }

        img {
          width: 80%;
          height: 200px;
          border-radius: 5px;

          @include sm-mobile {
            margin-bottom: 1rem;
            width: 100%;
          }
        }
      }

      .card:nth-child(even) {
        background: rgb(161, 162, 164);
        background: linear-gradient(
          219deg,
          rgba(161, 162, 164, 1) 0%,
          rgba(255, 255, 255, 1) 100%
        );
      }

      .card:nth-child(even) img {
        order: 2;
        margin-left: 3rem;

        @include sm-mobile {
          order: 0;
          margin: 0 0 1rem;
        }
      }
    }
  }
}
