.onpage_contact {
  padding: 1rem;
  margin-top: 3rem;

  // Call us and Address styling
  h3 {
    font-size: 1.75em;
    margin-bottom: 0.25rem;
    color: black;
    font-weight: 600;

    a {
      color: $headingColor;
    }
  }

  h3.address {
    font-size: 1.5em;
    margin-bottom: 1rem;
  }

  @include sm-mobile {
    padding: 1rem 0;
  }

  form > input,
  form > textarea {
    margin-bottom: 1rem;
    padding: 0.5em 1em;
    font-size: 0.9em;
    border-radius: 8px;
    border: 1px solid #303030;
  }

  textarea {
    min-height: 7rem;
  }

  span {
    font-size: 0.8em;
    padding: 0.2rem;
    color: red;
    display: inline-block;
    transform: translateY(-10px);
  }

  &__form {
    width: 80%;
    max-width: 75rem;
    @include md-mobile {
      width: 100%;
      padding: 1rem;
    }

    @include sm-mobile {
      padding: 1rem 0.25rem;
    }

    &__header {
      font-size: 2.4rem;
      margin-bottom: 0.25rem;
      color: $headingColor;
    }

    input[type="submit"] {
      background-color: $headingColor;
      border: none;
      color: #fff;
      width: 30em;
      height: 4em;
      margin: 1rem auto;
      font-size: 1rem;
      cursor: pointer;
      transition: 0.25s;

      @include md-mobile {
        width: 100%;
      }
    }

    input[type="submit"]:hover {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }
}

.blue {
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
