.page-container {
  .content {
    padding: 0 3rem;
  }

  h3,
  p,
  h1,
  ul,
  hr {
    margin-bottom: 1rem;
  }

  h2 {
    color: $headingColor;
    font-size: 1.85rem;
  }

  li {
    list-style: outside;
    margin-left: 3rem;
    margin-top: 0.25em;
    max-width: 35rem;
  }

  .title {
    color: $headingColor;
    margin: 1rem 0 0;
    font-size: 2.2rem;
  }

  .showcase {
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
    margin-top: var(--defaultHeight);
    background-attachment: fixed;
    position: relative;

    @include md-mobile {
      background-attachment: local;
    }
  }

  .showcase.mvh {
    background-image: url("../public/images/crashtest.jpg");
  }

  .showcase.saf {
    background-image: url("../public/images/slipfall.jpg");
  }
  .showcase.truck-accident {
    background-image: url("../public/images/truck-accident.jpeg");
  }
  .showcase.truck-accident::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(148, 181, 253, 0.515);
  }
}
